<form action="/authors/{{authorID}}/edit" method="post">
  <label for="">First Name</label>
  <br>
  <input type="text" name="first_name" value="{{author.first_name}}">
  <br><br>
  <label for="">Last Name</label>
  <br>
  <input type="text" name="last_name" value="{{author.last_name}}">
  <br><br>
  <label for="">Portrait Url</label>
  <br>
  <input type="text" name="portrait_url" value="{{author.portrait_url}}">
  <br><br>
  <label for="">Biography</label>
  <br>
  <textarea name="biography">{{author.biography}}</textarea>
  <br><br>
  <label>Books</label>
  {{#authorbooks}}
  <p>{{title}}<a href="/authors/{{id}}/{{author_id}}/removeBook"/>delete</a></p>
  {{/authorbooks}}
  <label for="">Add A Book</label>
  <br>

    {{#books}}
    <input type="checkbox" name="book_id" value="{{id}}"> {{title}}<br>
    {{/books}}


  <br><br>
  <input type="submit" name="name" value="SEND THAT SHIT">
</form>
