
<section class='book-panel'>
  <img src="{{books.cover_url}}" alt="" />
<h3>{{books.title}}</h3>
<a href='/books/{{books.id}}/edit'><button type="button" name="button">Edit</button></a>
<a href="/books/{{books.id}}/delete"><button type="button" name="button">Delete</button></a>
<p>{{books.description}}</p>
<div class='books'>
  <h4>Authors!</h4>
{{#authors}}
  <p>{{this}}</p>
{{/authors}}
</section>
