<h2><a href='/books/add'>You know what this list needs? MOAR BOOKZ!!!!1!!1</a></h2>
{{#books}}
<section class='books-panel'>
  <img src="{{url}}" alt="" />
<h3><a href='/books/{{id}}'>{{title}}</a></h3>
<a href='/books/{{id}}/edit'><button type="button" name="button">Edit</button></a>
<a href="/books/{{id}}/delete"><button type="button" name="button">Delete</button></a>
<p>{{desc}}</p>
<div class='authors'>
  <h4>Peeps!</h4>
  {{#authors}}
  <p>{{this}}</p>
  {{/authors}}
</section>

{{/books}}
